.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.global_navi ul {
  /* background-color: aqua; */
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items:center;
  height: 60px;
  
}

ul li {
  margin-right: 8px;
  
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

.image img {
  width: 100%;
  height: 400px;
}

main {
  display: flex;
}

.main {
  width: 50%;
}

.side {
  width: 50%;
}

.where {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.how {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.need {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

footer {
  background-color: rgb(218, 213, 213);
  
}

.etc {
  display: flex;
  
}

footer p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color: gray;
}

.etc h1 {
  margin-left: 60px;
}

.etc ul {
  margin-left: 40px;
}